.container{
    margin-top: 20px;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#currentWeather{
    background-color: pink;
   flex:1;
   margin-right: 20px;
}

#weatherForecast{
    background-color: lightblue;
   flex:1;
}

#card-1,#card-2,#card-3,#card-4,#card-5{
    margin-bottom: 20px;
    
}






