.container{
    margin-top: 20px;
}

#currentWeather{
    background-color: pink;
   width:100%;
}

#weatherForecast{
   
    width: 100%;
   display: flex;
   
  
}

#weatherForecast > div{
    flex: 0 0 20%;
    margin-right: 20px;
}

#card-1,#card-2,#card-3,#card-4,#card-5{
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: lightblue;
    
}






